*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/Новая папка
/Life/build.xml
/Life/nbproject
/Life/build
/Life/manifest.mf
/Life/dist
/Filter/build.xml
/Filter/nbproject
/Filter/build
/Filter/manifest.mf
/Filter/dist
